$clr-dark-bg: #1a1b26;
$clr-dark-surface: #24283b;
$clr-gray-blue: #414868;
$clr-muted-blue: #565f89;
$clr-light-gray-blue: #9aa5ce;
$clr-soft-blue-gray: #a9b1d6;
$clr-light-blue: #c0caf5;
$clr-lavender: #bb9af7;
$clr-bright-blue: #7aa2f7;
$clr-sky-blue: #7dcfff;
$clr-cyan: #2ac3de;
$clr-teal: #b4f9f8;
$clr-soft-green: #73daca;
$clr-lime-green: #9ece6a;
$clr-warm-gray: #cfc9c2;
$clr-golden-yellow: #e0af68;
$clr-orange: #ff9e64;
$clr-soft-red: #f7768e;

$ff-primary: var(--ff-press-start);
$ff-secondary: var(--ff-roboto);
$fw-regular: 400;
$fw-bold: 700;
